.movieDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.image {
  width: 100%;
  object-fit: cover;
}

.movieDetailsWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movieTitle {
  font-size: 36px;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    flex-direction: 48px;
  }
}

.additionalInfo {
  margin-bottom: 20px;
}
