.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--DARK);

  > nav {
    display: flex;
    gap: 30px;
  }
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--DARK);
  font-weight: 500;
}

.linkActive {
  composes: link;
  color: var(--PRIMARY);
  font-weight: 800;
}
